.menu-button {
    -fx-border-color: #FFFFFF;
}

.menu-button:focused {
    -fx-border-color: #00ff40 ;
}

.menu-button {
	-fx-background-color: #000000;
	-fx-background-radius: 10px;
	-fx-border-radius: 8px;
    -fx-border-width: 3px;
    -fx-border-color: #FFFFFF;
    
    -fx-min-width: 150px;
    -fx-min-height: 75px;
    -fx-padding: 0 20px 0 20px;
    
    -fx-font-size: 24px;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #FFFFFF;
    
    -fx-cursor: hand;
}

.menu-button:hover {
	-fx-background-color: #222222;
}


.ingame-inventory-pane {
	-fx-background-color: #000000;
    -fx-border-width: 10px;
    -fx-border-color: #FFFFFF;
}


.inventory-title {
	-fx-font-size: 44px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-fill: #444444;
}

.inventory-buttons-pane {
	-fx-background-color: #41A51A;
	-fx-min-width: 300px;
}

.inventory-slots-box {
	-fx-background-color: #7AD534; 
	-fx-background-radius: 30px;
    -fx-padding: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 4);
    
    -fx-max-height: 534px;
}

.inventory-info-box {
	-fx-background-color: #7AD534; 
	-fx-background-radius: 30px;
    -fx-padding: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 4);
    
    -fx-min-width: 534px;
    -fx-max-width: 534px;
    -fx-min-height: 534px;
    -fx-max-height: 534px;
}

.inventory-info-box-title {
	-fx-font-size: 28px;
}

.inventory-info-box-description {
	-fx-font-size: 20px;
}

.info-separator-line {
	-fx-stroke: #444444;
    -fx-stroke-width: 2;
}

.inventory-info-box-description, .inventory-info-box-title {
    -fx-font-family: "Times New Roman";
    -fx-fill: #444444;
}

.inventory-slot {
	-fx-border-color: gray;
}

.selected-inventory-slot {
	-fx-border-color: #FFFFFF;
}

.inventory-slot, .selected-inventory-slot {
	-fx-background-color: rgba(80, 90, 95, 0.5);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-min-width: 64px;
    -fx-max-width: 64px;
    -fx-min-height: 64px;
    -fx-max-height: 64px;
}
